<h2>Welcome to Anna's Jewellery</h2>
<div class="intro">
<h5>  Welcome to Anna's Jewellery - home of handcrafted jewellery pieces, all designed and created in Australia. I specialise in designs featuring lampwork, swarovski crystal, semi-precious gemstones, glass, wood, seed beads and high quality findings. I also custom make jewellery for any occasion. Enjoy!</h5>
</div>
