<h1>Welcome to Anna's Jewellery</h1>
<div class="intro">
  <h4>
    Welcome to Anna's Jewellery - home of handcrafted jewellery pieces, all designed and created in Australia. I specialise in designs featuring lampwork, swarovski crystal, semi-precious gemstones, glass, wood, seed beads and high quality findings. I also custom make jewellery for any occasion.
  </h4> 
  <h5>
    Anyone can <%= link_to 'view the custom handcrafted jewellery', products_path %> but to start a shopping cart you must simply <%= link_to'Sign Up', new_user_path %> to the page so we can have your shipping address handy, Thank you and hope you enjoy Anna. 
  </h5>
</div>
