@import "bootstrap-sprockets";
@import "bootstrap";
@import 'slick';
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html{
  font-family: 'Lato', sans-serif;
 }

.container {
  margin: 0 auto;
  text-align: center;
  list-style: none;
  background-color: whitesmoke;
}

.container-fluid{
  background-color: #F9DBEB;
  box-shadow: 0px 0px 15px black;
  border: double 4px #C3037F;
}
body {
  background-color: whitesmoke;
  font-family: 'Lato', sans-serif;
}

.entry{
  width: 300px;
  vertical-align: top;
  display: inline-block;
}
.intro{
  position: relative;
  background-color: #F9DBEB;
  width: 100%;
  border: outset 5px #C3037F;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright:5px;
  -moz-border-radius-bottomleft:5px;
  -moz-border-radius-bottomright:5px;
  -webkit-border-top-left-radius:5px;
  -webkit-border-top-right-radius:5px;
  -webkit-border-bottom-left-radius:5px;
  -webkit-border-bottom-right-radius:5px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: white;
  background-color: #C3037F;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #C3037F;
  color: #555;
}
.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  background-color: #F9DBEB;
}


.navbar-default .navbar-nav > li > a {
  margin-right: 0px;
}

p, div.price_line {
  margin-top: 0.5em;
  margin-bottom: 0.8em;
}

li {
  list-style: none;
}

.navbar-default .navbar-toggle {
  border-color: #C3037F;
}

#store .cart_title {
  font: 120% bold;
}
#store .item_price, #store .total_line {
  text-align: right;
}
#store .total_line .total_cell {
  font-weight: bold;
  border-top: 1px solid #595;
}

.cart-view {
  position: relative;
  display: inline-table;
  text-align: -webkit-center;
}

.products{
  display: inline-block;
  background-color: #F9DBEB;
  width: 300px;
  overflow-y: scroll;
  height: 300px;
  border: outset 5px #C3037F;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright:5px;
  -moz-border-radius-bottomleft:5px;
  -moz-border-radius-bottomright:5px;
  -webkit-border-top-left-radius:5px;
  -webkit-border-top-right-radius:5px;
  -webkit-border-bottom-left-radius:5px;
  -webkit-border-bottom-right-radius:5px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
}

.product-form {
  display: inline-block;
}

.imgg{
  display: flex;
  left: 199px;
  
}

  
h1, h2, a{
  color: #700659;
}

.pHead{
  top: -200px;
}
.slick-slide img {
    max-height: 100vh;
}
.slidder {
  width: 400px;
  border: outset 3px #C3037F; 
  display: inline-block;
  vertical-align: top;
  height: 100%;
}
.slider{
  height: 100%;
}
.desc-cont {
  width: 60%;
  border: inset 2px #C3037F;
  display: inline-block;
  vertical-align: top;
}
.slider-nav{
  height: 100%;
}

.slick-prev:before, .slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: #C3037F;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn-warning {
  color: #fff;
  background-color: rgba(195, 3, 127, 0.53);
  border-color: #DE76B9;
}

.btn-warning:hover {
  background-color: #C3037F
}

.well {
 border: inset 4px #C3037F;
 background-color: #F9DBEB; 
}

.blurb{
  color: #700659;
}

.blurb2{
  color: #C30580;
}

.list-price {
  text-decoration: line-through;
}
